[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "KeyNubLicDongle"]
	path = KeyNubLicDongle
	url = https://github.com/ab-keynub/keynub-sdk
	subdir = bindings/r
